* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aqua;
}
h1{
    background-color: blue;
    color: white;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}
.main{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.main:hover{
    cursor: pointer;
    background-color: rgb(45, 172, 40);

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}
.fuks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;

}
.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 5rem;
    font-size: 2rem;

}
#you1, #comp1{
    font-size: 5rem;
}
#msg{
    background-color: black;
    color: white;
    display: inline;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}
.msg_container{
    font-size: 2rem;
    color: brown;
    margin-top: 3rem;
    
}